html {
    background: #8200c9; /* Old browsers  11e8bb  8200c9  */
    background: -moz-linear-gradient(top,  #5f43c8 0%, #11e8bb 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #5f43c8 0%,#11e8bb 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #5f43c8 0%,#11e8bb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f43c8', endColorstr='#11e8bb',GradientType=0 ); /* IE6-9 */
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.greeting,
.bottom {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: thin;
    font-size: 36px;
    text-align: center;
}

#greeting-button,
#nl-button {
    padding: 1px 50px 1px 50px;
    background: rgb(255, 255, 255); /* Fallback for older browsers without RGBA-support */
    background: rgba(255, 255, 255, 0.2);
    font-weight: bold;
    line-height: initial;
    margin-top: 3rem;
}

.bigger {
    font-size: 125%;
    font-weight: bolder;
}

.nl-form {
    line-height: 1em;
}

.nl-entry {
    padding: 0.1em;
}

.nl-input {
    display: inline-block;
}

.nl-text {
    display: inline-block;
}

.nl-form input,
.nl-dropbtn {
    border: none;
    border-width: thin;
    border-bottom-style: solid;
    background: transparent;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	font-weight: inherit;
	line-height: inherit;
	padding: 0;
	margin: 0;
    cursor: pointer;
}

#fullname {
    text-align: center;
}

#superpower {
    color: rgba(255, 255, 255, 0.5);
    border-color: white;
}

#location {
    color: rgba(255, 255, 255, 0.5);
    border-color: white;
}

.nobr {
    white-space: nowrap;
}

.canvas {
    position: fixed;
    left: 0; top: 0; right: 0; bottom: 0;
    z-index: -1;
    margin: 0 auto;
}

.nl-dropdown-content {
    display: flex;
    flex-direction: column;
    justify-contents: center;
    align-items: stretch;
}

ul {
    max-height: 20rem;
    display: none;
    position: absolute;
    background-color: #FFAA72;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
    margin: 0;
    padding: 0;
    overflow: scroll;
    overflow-x: hidden;
    color: white;
}

ul li {
    position: relative;
    list-style: none;
    padding: 0.2em 0.4em;
}

.selected {
    color: #C04C00;
}

/* ::-webkit-input-placeholder { /\* Chrome/Opera/Safari *\/ */
/*   color: white; */
/*   opacity: 1; */
/* } */
/* ::-moz-placeholder { /\* Firefox 19+ *\/ */
/*   color: white; */
/*   opacity: 1; */
/* } */
/* :-ms-input-placeholder { /\* IE 10+ *\/ */
/*   color: white; */
/*   opacity: 1; */
/* } */
/* :-moz-placeholder { /\* Firefox 18- *\/ */
/*   color: white; */
/*   opacity: 1; */
/* } */

